flows.json
[{"id":"9c3da904.30a368","type":"tab","label":"Smart Parking","disabled":false,"info":""},{"id":"4ee81f08.443b","type":"inject","z":"9c3da904.30a368","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"1000","x":310,"y":140,"wires":[["6867308a.cf71a"]]},{"id":"1ff04f6e.e5ec31","type":"function","z":"9c3da904.30a368","name":"Entry","func":"global.set('enter',msg.payload.Entry)\nmsg.payload=msg.payload.Entry\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":220,"wires":[["6867308a.cf71a"]]},{"id":"a3ef2ce0.db282","type":"function","z":"9c3da904.30a368","name":"Exit","func":"global.set('exits',msg.payload.Exit)\nmsg.payload=msg.payload.Exit\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":320,"wires":[["6867308a.cf71a"]]},{"id":"1aca0d4.ece7bf3","type":"function","z":"9c3da904.30a368","name":"Available","func":"global.set('available',msg.payload.Available_slots)\nmsg.payload=msg.payload.Available_slots\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":440,"wires":[["6867308a.cf71a"]]},{"id":"e0d64526.60a5f8","type":"ibmiot in","z":"9c3da904.30a368","authentication":"apiKey","apiKey":"2e2bfd78.1df832","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"mcu1776","applicationId":"","deviceType":"NODEMCU","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":50,"y":320,"wires":[["1ff04f6e.e5ec31","a3ef2ce0.db282","1aca0d4.ece7bf3","6867308a.cf71a"]]},{"id":"6867308a.cf71a","type":"debug","z":"9c3da904.30a368","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":240,"wires":[]},{"id":"2e2bfd78.1df832","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false}]